@using Epam.FinalTask.Entities;
@using Epam.FinalTask.BLL.Interfaces;
@using Epam.FinalTask.Ioc;
@using Epam.FinalTask.WebPL.Helpers;
@{
    if (User.IsInRole("admin"))
    {
        Layout = "~/Layouts/_AdminLayout.cshtml";
    }
    else {
        Layout = "~/Layouts/_Layout.cshtml";
    }
    

    if (!int.TryParse(Request.QueryString["ID"], out var userID)) {
        Response.Redirect("~/error");
        return;
    }

    IUserBL userBL = DependencyResolver.UserBL;
    UserDTO user;
    try
    {
        user = userBL.GetById(userID);
    }
    catch (ArgumentException) {
        Response.Redirect("~/error");
        return;
    }

    List<UserDTO> friends = new List<UserDTO>();
    foreach (var id in user.Friends)
    {
        try
        {
            friends.Add(userBL.GetById(id));
        }
        catch (ArgumentException)
        {
            continue;
        }
    }
}
<section class="col-md-8 col-lg-8 mt-2 bg-white h-25 rounded">
    <div class="mt-2">
        <h4> Друзья </h4>
    </div>
    @if (friends.Count == 0) { 
        <div class="text-center text-muted mb-2">
            Здесь пока нет друзей.
        </div>
    }

     @foreach (var friend in friends)
     {
    <div class="row my-2 user-row mx-1" onclick="window.location.href = '../user/profile?id=@friend.ID';">
        <div class="col-4">
            <img src="@UserRequests.MakeImageString(friend.Avatar)" alt="фото" class="img-thumbnail">
        </div>
        <div class="p-0 col-4">
            <div>
                <span class="text-capitalize"> @friend.Name </span> <span class="text-capitalize"> @friend.Surname </span>
            </div>
            <div>
               День рождения:  @friend.Birthday.ToString("dd/MM/yyyy")
            </div>
            <div>
                @friend.City, @friend.Street, д. @friend.HouseNumber
            </div>
        </div>
    </div>
     }
</section>