@using Epam.FinalTask.Entities;
@using Epam.FinalTask.Ioc;
@using Epam.FinalTask.BLL.Interfaces;
@using Epam.FinalTask.WebPL.Helpers;
@{
    if (User.IsInRole("admin"))
    {
        Layout = "~/Layouts/_AdminLayout.cshtml";
    }
    else {
        Layout = "~/Layouts/_Layout.cshtml";
    }

    if (IsPost)
    {
        Response.Redirect("~/error");
        return;
    }

    if (!int.TryParse(Request.QueryString["id"], out var id)) {
        Response.Redirect("~/error");
        return;
    }

    IUserBL userBL = DependencyResolver.UserBL;
    UserDTO user;
    IEnumerable<UserDTO> neighbours = null;

    try
    {
        user = userBL.GetById(id);
        neighbours = userBL.GetAll().Where(userDTO => userDTO.HouseNumber == user.HouseNumber 
                                                   && userDTO.ID != user.ID);
    }
    catch (ArgumentException) {
        Response.Redirect("~/error");
        return;
    }
}

    <section class="col-md-8 col-lg-8 mt-2 bg-white rounded">
        <input type="hidden" value="@user.ID" id="profile-id" />
        <div class="row p-2">
            <div class="col-lg-3 col-md-4">
                <img src="@UserRequests.MakeImageString(user.Avatar)" alt="Ваша аватарка" class="img-thumbnail">
            </div>

            <div class="col-lg-9">

                <h4 class="my-0">
                    <span class="text-capitalize"> @user.Name </span>
                    <span class="text-capitalize"> @user.Surname </span>
                </h4>
                <div class="row">
                    <div class="col-4">
                        <div class="mt-2">
                            Дата рождения:
                        </div>

                        <div class="mt-2">
                            Город:
                        </div>

                        <div class="mt-2">
                            Улица:
                        </div>

                        <div class="mt-2">
                            Дом:
                        </div>

                        @if (user.ApartmentNumber != 0)
                        {
                            <div class="mt-2">
                                Квартира:
                            </div>
                        }
                    </div>
                    <div class="col-3 p-0">
                        <div class="mt-2">
                            @user.Birthday.ToString("dd/MM/yyyy")
                        </div>
                        <div class="mt-2 text-capitalize">
                            @user.City
                        </div>
                        <div class="mt-2 text-capitalize">
                            @user.Street
                        </div>

                        <div class="mt-2">
                            @user.HouseNumber
                        </div>

                        @if (user.ApartmentNumber != 0)
                        {
                            <div class="mt-2">
                                @user.ApartmentNumber
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-2">
                <h5> Соседи </h5>
                @if (neighbours.Count() == 0) { 
                    <div class="text-center text-muted">
                        К сожалению мы не нашли Ваших соседей.
                    </div>
                }

                @foreach (var neighbour in neighbours)
                {
                    <div class="user-row col-5" onclick="window.location.href = '../user/profile?id=@neighbour.ID';">
                        @neighbour.Name @neighbour.Surname
                    </div>
                }
            </div>
        </div>

        
        @if (User.IsInRole("admin"))
        {
            <div class="row">
                <div class="col mb-3">
                    <button class="btn btn-primary" id="message-btn">
                        Сообщения
                    </button>
                    <button class="btn btn-primary" id="edit-btn">
                        Редактировать
                    </button>
                    <button class="btn btn-primary" id="delete-btn">
                        Удалить
                    </button>
                </div>
            </div>

            <script src="~/Scripts/ProjectScripts/ChangeUser.js"></script>
        }

    </section>
